/* theme dark */
.bg-black{
  background-color: rgb(34, 30, 30);
}
.bg-light-black{
  background-color: #282424 !important;
}
.text-black{
  color: rgb(58, 56, 56);
}
.text-light-black{
  color: #5b5656;
}
.bg-dark-primary{
  background-color: #fcbc73 !important;
}
.text-dark-primary{
  color: #fcbc73 !important;
}

/* theme light */
.bg-light{
  background-color: white;
}
.bg-light-2{
  background-color: #dadcde;
}
.bg-light-primary{
  background-color: #191659 !important;
}
.text-light-primary{
  color: #191659 !important;
}


.react-tel-input input{
  width: 100% !important;
}

.footer{
  background-color: rgb(62, 42, 109);
  padding:14px;
  color:rgb(233, 8, 8);
  text-align: center;
  
  

}